{% extends 'view/base.html' %}
{% block title %}User Rent Post{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body{margin-top:20px;}

.card {
    min-width: 0;
    margin: 20px 10px;
    width: 100%;    
    background: #0C0C0C;
    color: #696969;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    border: none;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 30px;
}

.card .card-img-container .card-img {
  background-size: cover;
  background-position: top center;
  display: block;
  height: 175px;
}

.card .card-img {
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card .card-content {
  padding: 20px 20px 40px;
  text-align: center;
}

.card .card-meta {
  font-size: 12px;
}

.card .meta-box {
  margin-right: 20px;
}

.card .card-content h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}

.card h2 a {
  color: #D0D0D0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

a:hover{
    text-decoration:none;    
}

.card:hover h2 a {
  color: #FFF;
}

.card .meta-tags a:hover {
  color: #FFF;
}
.card .meta-tags .tag {
  background: #DD1B16;
  color: #f9c7c6;
}
.card .meta-tags a:last-child {
  margin-right: 0;
  border-bottom-right-radius: 5px;
}
.card .meta-tags a:first-child {
  border-top-left-radius: 5px;
}
.card .meta-tags a {
  display: inline-block;
  padding: 3px 8px;
  color: #FFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
</style>
{% endblock %}

{% block content %}
<br>
<br>
<div class="container bootstrap snippets bootdey">
    <div class="row">

        {% for post in posts%}
        {% set img = "view/images/blog/" + post.4 %}

        <div class="col-md-4">
            <div class="card card-favorite">
              <div class="card-img-container">
                <a href="/rent_details/{{ post.0 }}" style="background-image:url(' {{url_for("static", filename=img )}} ')" class="card-img"></a>
              </div>
              <div class="card-content">
                <div class="card-meta">
                  <span class="meta-date meta-box">
                    {{ post.5   }}      
                  </span>
                  <span class="meta-pulse meta-box">
                    <a href="/rent_details/{{ post.0 }}" class="card-share-number sharrre">comment</a>
                  </span>
                </div>
                <h2>
                        <a href="/rent_details/{{ post.0 }}">
                      {{ post.1}}    
                  </a>   
                </h2>

              </div>
                <span class="meta-tags">
                  <a href="/profile" title="tags" class="tag">{{ post.2 }}</a> 
              </span>

              <a href=""><button type="button" class="btn btn-primary">Edit</button></a>
              <a href="/delete_rent_post/{{ post.0 }}"><button type="button" class="btn btn-danger">delete</button></a>
              
            </div>

        </div>


        {% endfor %}



    </div>    
</div>


{% endblock %}